 

body{

    background:url(warensmith_1.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;

}



.objective{

    

}

.iandi{
  
}